<div>
    <div>
        <div class="input-group mb-4">
            <input class="form-control" type="text" name="taskName" [(ngModel)]="task">
          <div class="input-group-prepend">
            <button class="btn btn-primary" (click)="addTask()" [disabled]="!task || !task.length">
              <span>+</span>
            </button>
          </div>
        </div>
        <div class="task" *ngFor="let taske of tasks">
            <app-task [item]="taske" (completedChange)="completeChange($event)"></app-task>
        </div>
    </div>
</div>
